body {

	background: #000000;
	margin: 5%;
}

.principal {

}

.titulo-principal {

	text-align: center;
	color: white;
}

.mol {

	background: #F0FFFF;
	padding:20px;
}

.mol p {

	color: #000000;
}

p {

	text-align: justify;
	color: white;
}

.titulo-menor {

	padding-left: 20px;
}